/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
html, body, .root {
    color: #224e70;
    background: white;
    font-family: verdana;
    height: 100%;
    margin: 0;
    overflow: auto;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}




/**CONTAINER**/

#root {
    /*display: block;*/
    flex-direction: column;
    height: 100%;
    margin: auto;
    max-width: 800px;
    /*overflow: auto;*/
    width: 85%;
    top: 0;
    /*position: relative;*/
}

.header {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    height: 6em;
    justify-content: space-between;
    max-width: 800px;
    top: 0;
    position: absolute;
    width: 85%;
    z-index: 0;
    background: white;
    /*margin-top: 1em;*/
}

.container {
	display: flex;
	align-items: center;
	/*position: relative;*/
	margin-top: 5em;

}

.title {
	font-size: 3em;
	width: 100%;
}


.post {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: white;
    box-shadow: 0 4px 6px 2px rgba(0,0,0,.3);
    margin: .5em 0 1em 0;
    padding: 10px 20px;
    width: 98%;
}


.post-title {
	width: 100%;
	font-size: 1.2em;
	margin-bottom: 1em;
}

.post-body {
	width: 100%;
}

.post-footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 1.5em;
	width: 100%;
	border: 1px;
}
.post-details {
	display: flex;
	font-size: .7em;
	flex-direction: row;

	width: 50%;
}

.post-detail {
	margin-right: 2em;
}

.post-actions {
	display: flex;
	width: 50%;
	justify-content: flex-end;
}

.post-action {
	height: 2.2em;
	width: 2.2em;

}

.cat-list {
	margin: 1em 0;
}
.button {
	background-color: #4CAF50; /* Green */
    border: none;
    color: #224e70;
    /*padding: 1em;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .8em;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #224e70;
}

.button:hover {
    background-color: #224e70;
    color: white;
}

.cat-button {
	width: 5em;
    height: 2em;
}

.cat-button-active {
	font-weight: bold;
	background-color: #224e70;
	color: white;
}

.new-button {
	position: absolute;
	top: 0;
	right: 0;
}